.title {
  font-size: 30px;
  font-weight: bolder;
}
.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  .info{
    margin-left: 14px;
  }
  .name{
    font-size: 14px;
    font-weight: bold;
  }
  .time {
    font-size: 14px;
    color: #86909c;
    display: flex;
    > * {
      margin-left: 10px;
    }
  }
}
.markdown {
  img {
    width: 100%;
  }
}
.divider {
  background-color: aliceblue;
  height: 20px;
}
.enter {
  display: flex;
  align-items: center;
  .content {
    width: 100%;
    margin-left: 20px;
  }
}
.commentList {
  margin-top: 80px;
  .wrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
    .commentInfo {
      display: flex;
      width: 100%;
      margin-left: 20px;
      flex-direction: column;
      .topInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
        .name {
          color:#666;
          font-size: 14px;
          font-weight: bold;
        }
        .time {
          color: #666;
          font-size: 14px;
          display: flex;
          .formatTime {
            color: #999;
            margin-right: 10px;
          }
        }
      }
    }
    .content {
      font-size: 14px;
      color: #515767;
      margin-top: 10px;
    }
  }
}