.container {
  margin: 0 auto;

  .operation {
    display: flex;
    .title {
      width: 80%;
    }
    .tagSelect {
      width: 15%;
      color: #333;
    }
    .button {
      width: 100px;
    }
  }
  
}